In [1]:
import pandas as pd
import numpy as np

In [22]:
MoodRasaDataFleksibel_df = pd.read_csv("MoodRasaDataFleksibel.csv")
MoodRasaDataFleksibel_df

,Nama,Kategori,Harga,Waktu_Makan,Lokasi,Deskripsi,Rating,Waktu_Persiapan,Popularitas,Ketersediaan
0,Jus Pir,Manis,20000,Semua,Riau,Jus buah pir manis dan kaya serat.,4.0,5.0,750.0,88.0
1,Jus Anggur,Manis,25000,Semua,Riau,Jus buah anggur manis dan menyegarkan.,4.2,5.0,800.0,89.0
2,Jus Belimbing,Manis,18000,Semua,Riau,Jus buah belimbing manis dan sedikit asam.,3.9,5.0,700.0,85.0
3,Jus Sirsak,Manis,22000,Semua,Riau,Jus buah sirsak manis asam dan creamy.,4.3,5.0,820.0,90.0
4,Jus Sirsak Nata de Coco,Manis,25000,Semua,Riau,Jus sirsak dengan tambahan nata de coco,4.4,8.0,850.0,91.0
...,...,...,...,...,...,...,...,...,...,...
551,Batagor,Gurih/Umami,20000,Camilan,Jawa Barat,Bakso tahu goreng,4.5,20.0,910.0,95.0
552,Siomay Bandung,Gurih/Umami,20000,Camilan,Jawa Barat,Siomay ikan kukus dengan kentang,4.4,20.0,900.0,94.0
553,Cuanki,Gurih/Umami,18000,Camilan,Jawa Barat,Bakso tahu aci kuah,4.0,10.0,750.0,87.0
554,Seblak,Pedas,15000,Camilan,Jawa Barat,Kerupuk basah yang dimasak dengan bumbu pedas,4.6,15.0,930.0,96.0
555,Cilor,Asin,10000,Camilan,Jawa Barat,Aci digoreng dicolok,3.8,10.0,680.0,80.0

In [23]:
MoodRasaDataFleksibel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 556 entries, 0 to 555
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nama             556 non-null    object
 1   Kategori         556 non-null    object
 2   Harga            556 non-null    int64
 3   Waktu_Makan      556 non-null    object
 4   Lokasi           556 non-null    object
 5   Deskripsi        556 non-null    object
 6   Rating           554 non-null    float64
 7   Waktu_Persiapan  542 non-null    float64
 8   Popularitas      555 non-null    float64
 9   Ketersediaan     554 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 43.6+ KB

In [24]:
display(MoodRasaDataFleksibel_df.isnull().sum())
rows_with_nan = MoodRasaDataFleksibel_df[MoodRasaDataFleksibel_df.isnull().any(axis=1)]
display(rows_with_nan)
display(MoodRasaDataFleksibel_df.isnull())

Nama                0
Kategori            0
Harga               0
Waktu_Makan         0
Lokasi              0
Deskripsi           0
Rating              2
Waktu_Persiapan    14
Popularitas         1
Ketersediaan        2
dtype: int64

,Nama,Kategori,Harga,Waktu_Makan,Lokasi,Deskripsi,Rating,Waktu_Persiapan,Popularitas,Ketersediaan
128,Sambal Lingkung,Pedas,15000,Semua,Bangka Belitung,Sambal khas Bangka Belitung dari ikan cincang ...,15.0,700.0,80.0,NaN
137,Rusip Ikan,Asin,15000,Semua,Bangka Belitung,Fermentasi ikan kecil,3.8,NaN,650.0,75.0
234,Peuyeum Sampeu,Manis,10000,Camilan,Jawa Barat,Tapai singkong,4.0,NaN,700.0,85.0
235,Dodol Garut,Manis,25000,Camilan,Jawa Barat,Makanan manis kenyal dari beras ketan,4.5,NaN,900.0,95.0
236,Wajik Bandung,Manis,20000,Camilan,Jawa Barat,Wajik dari ketan dan gula merah,4.1,NaN,780.0,89.0
275,Ubi Cilembu Bakar,Manis,15000,Camilan,Jawa Barat,Ubi Cilembu yang dibakar,NaN,20.0,800.0,90.0
306,Lempuk Durian,Manis,30000,Camilan,Riau,Dodol dari buah durian,4.5,NaN,880.0,92.0
308,Ikan Salai Asap,Gurih/Umami,40000,Makan Malam,Riau,Ikan yang diasap,4.2,NaN,780.0,89.0
319,Lempok Durian,Manis,30000,Camilan,Sumatera Selatan,Mirip dodol durian,4.5,NaN,880.0,92.0
324,Tempoyak Udang,Asam,38000,Makan Siang,Sumatera Selatan,Udang yang dimasak dengan tempoyak.,25.0,880.0,92.0,NaN
338,Cokelat Monggo,Manis,25000,Camilan,DIY Yogyakarta,Cokelat artisanal khas Yogyakarta,4.5,NaN,880.0,92.0
339,Yangko,Manis,15000,Camilan,DIY Yogyakarta,Makanan kenyal dari tepung ketan,4.0,NaN,700.0,85.0
340,Geplak,Manis,18000,Camilan,DIY Yogyakarta,Makanan manis dari kelapa parut dan gula,4.1,NaN,750.0,88.0
342,Bakpia Pathok Premium,Manis,30000,Camilan,DIY Yogyakarta,Bakpia dengan kualitas premium,4.7,NaN,950.0,97.0
400,Tahu Isi,Gurih/Umami,12000,Camilan,Jawa Barat,Tahu goreng yang diisi dengan sayuran dan kada...,4.0,15.0,NaN,88.0
402,Cireng,Asin,10000,Camilan,Jawa Barat,Aci digoreng,3.8,NaN,650.0,80.0
417,Apem,Manis,9000,Camilan,Jawa Tengah,Kue tepung beras yang dikukus,NaN,15.0,650.0,84.0
419,Brem,Manis,18000,Camilan,Jawa Timur,Makanan fermentasi dari beras ketan,3.8,NaN,550.0,78.0
491,Dadiah,Asam,25000,Sarapan,Sumatera Barat,Fermentasi susu kerbau tradisional,3.7,NaN,580.0,75.0

,Nama,Kategori,Harga,Waktu_Makan,Lokasi,Deskripsi,Rating,Waktu_Persiapan,Popularitas,Ketersediaan
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
551,False,False,False,False,False,False,False,False,False,False
552,False,False,False,False,False,False,False,False,False,False
553,False,False,False,False,False,False,False,False,False,False
554,False,False,False,False,False,False,False,False,False,False
555,False,False,False,False,False,False,False,False,False,False

In [25]:
MoodRasaDataFleksibel_df['Rating'] = MoodRasaDataFleksibel_df['Rating'].fillna(MoodRasaDataFleksibel_df['Rating'].mean())
MoodRasaDataFleksibel_df['Waktu_Persiapan'] = MoodRasaDataFleksibel_df['Waktu_Persiapan'].fillna(MoodRasaDataFleksibel_df['Waktu_Persiapan'].mean())
MoodRasaDataFleksibel_df['Popularitas'] = MoodRasaDataFleksibel_df['Popularitas'].fillna(MoodRasaDataFleksibel_df['Popularitas'].mean())
MoodRasaDataFleksibel_df['Ketersediaan'] = MoodRasaDataFleksibel_df['Ketersediaan'].fillna(MoodRasaDataFleksibel_df['Ketersediaan'].mean())
MoodRasaDataFleksibel_df

,Nama,Kategori,Harga,Waktu_Makan,Lokasi,Deskripsi,Rating,Waktu_Persiapan,Popularitas,Ketersediaan
0,Jus Pir,Manis,20000,Semua,Riau,Jus buah pir manis dan kaya serat.,4.0,5.0,750.0,88.0
1,Jus Anggur,Manis,25000,Semua,Riau,Jus buah anggur manis dan menyegarkan.,4.2,5.0,800.0,89.0
2,Jus Belimbing,Manis,18000,Semua,Riau,Jus buah belimbing manis dan sedikit asam.,3.9,5.0,700.0,85.0
3,Jus Sirsak,Manis,22000,Semua,Riau,Jus buah sirsak manis asam dan creamy.,4.3,5.0,820.0,90.0
4,Jus Sirsak Nata de Coco,Manis,25000,Semua,Riau,Jus sirsak dengan tambahan nata de coco,4.4,8.0,850.0,91.0
...,...,...,...,...,...,...,...,...,...,...
551,Batagor,Gurih/Umami,20000,Camilan,Jawa Barat,Bakso tahu goreng,4.5,20.0,910.0,95.0
552,Siomay Bandung,Gurih/Umami,20000,Camilan,Jawa Barat,Siomay ikan kukus dengan kentang,4.4,20.0,900.0,94.0
553,Cuanki,Gurih/Umami,18000,Camilan,Jawa Barat,Bakso tahu aci kuah,4.0,10.0,750.0,87.0
554,Seblak,Pedas,15000,Camilan,Jawa Barat,Kerupuk basah yang dimasak dengan bumbu pedas,4.6,15.0,930.0,96.0
555,Cilor,Asin,10000,Camilan,Jawa Barat,Aci digoreng dicolok,3.8,10.0,680.0,80.0

In [26]:
MoodRasaDataFleksibel_df.describe()

              Harga      Rating  Waktu_Persiapan  Popularitas  Ketersediaan
count    556.000000  556.000000       556.000000   556.000000    556.000000
mean   24561.151079    4.362635        26.874539   818.794595     89.842960
std    13802.919189    1.031763        56.742019   101.463335      5.440147
min     3000.000000    3.000000         2.000000    80.000000     60.000000
25%    15000.000000    4.100000        10.000000   750.000000     88.000000
50%    20000.000000    4.300000        20.000000   830.000000     90.000000
75%    32000.000000    4.500000        26.874539   900.000000     93.000000
max    95000.000000   25.000000       880.000000  1000.000000    100.000000

In [27]:
display(MoodRasaDataFleksibel_df.isnull().sum())
rows_with_nan = MoodRasaDataFleksibel_df[MoodRasaDataFleksibel_df.isnull().any(axis=1)]
display(rows_with_nan)

Nama               0
Kategori           0
Harga              0
Waktu_Makan        0
Lokasi             0
Deskripsi          0
Rating             0
Waktu_Persiapan    0
Popularitas        0
Ketersediaan       0
dtype: int64

Empty DataFrame
Columns: [Nama, Kategori, Harga, Waktu_Makan, Lokasi, Deskripsi, Rating, Waktu_Persiapan, Popularitas, Ketersediaan]
Index: []

In [28]:
MoodRasaDataFleksibel_df.dropna(inplace=True)
display(MoodRasaDataFleksibel_df.isnull().sum())

Nama               0
Kategori           0
Harga              0
Waktu_Makan        0
Lokasi             0
Deskripsi          0
Rating             0
Waktu_Persiapan    0
Popularitas        0
Ketersediaan       0
dtype: int64

In [29]:
MoodRasaDataFleksibel_df_cleaned = MoodRasaDataFleksibel_df
MoodRasaDataFleksibel_df_cleaned

,Nama,Kategori,Harga,Waktu_Makan,Lokasi,Deskripsi,Rating,Waktu_Persiapan,Popularitas,Ketersediaan
0,Jus Pir,Manis,20000,Semua,Riau,Jus buah pir manis dan kaya serat.,4.0,5.0,750.0,88.0
1,Jus Anggur,Manis,25000,Semua,Riau,Jus buah anggur manis dan menyegarkan.,4.2,5.0,800.0,89.0
2,Jus Belimbing,Manis,18000,Semua,Riau,Jus buah belimbing manis dan sedikit asam.,3.9,5.0,700.0,85.0
3,Jus Sirsak,Manis,22000,Semua,Riau,Jus buah sirsak manis asam dan creamy.,4.3,5.0,820.0,90.0
4,Jus Sirsak Nata de Coco,Manis,25000,Semua,Riau,Jus sirsak dengan tambahan nata de coco,4.4,8.0,850.0,91.0
...,...,...,...,...,...,...,...,...,...,...
551,Batagor,Gurih/Umami,20000,Camilan,Jawa Barat,Bakso tahu goreng,4.5,20.0,910.0,95.0
552,Siomay Bandung,Gurih/Umami,20000,Camilan,Jawa Barat,Siomay ikan kukus dengan kentang,4.4,20.0,900.0,94.0
553,Cuanki,Gurih/Umami,18000,Camilan,Jawa Barat,Bakso tahu aci kuah,4.0,10.0,750.0,87.0
554,Seblak,Pedas,15000,Camilan,Jawa Barat,Kerupuk basah yang dimasak dengan bumbu pedas,4.6,15.0,930.0,96.0
555,Cilor,Asin,10000,Camilan,Jawa Barat,Aci digoreng dicolok,3.8,10.0,680.0,80.0

In [36]:
import os

os.makedirs("datasets", exist_ok=True)
MoodRasaDataFleksibel_df_cleaned.to_csv("datasets/MoodRasaDataFleksibel_cleaned.csv", index=False)